.signin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}
.signin-container>div{
    margin: 10px;
} 
.error{
    color: red;
    padding-left: 20px;
}