.date-picker-cpntainer{
    padding: 10px;
    display: flex;
    align-items: center;
}
.MuiFormControl-root.MuiTextField-root.start-date-container{
    width: 320px;
    margin: 10px;
}
.MuiFormControl-root.MuiTextField-root.end-date-container{
    width: 320px;
    margin:10px
}